<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%- include ('partials/head') %>
    <%- include ('partials/modal') %>
  </head>
  <body>
    <%- include (nav) %>
    <div class="container">
      <header class="row">
        <div class="col-md-12">
          <img src="img/images.jpg" alt="">
        </div>
      </header>
    </div>
    <script src="/javascripts/public.js"></script>
    <script src="/javascripts/usuarios.js"></script>
  </body>
</html>
